[package]
name = "quickjs_runtime"
version = "0.10.0"
authors = ["Andries Hiemstra <info@hirofa.com>"]
edition = "2018"
description = "Wrapper API and utils for the QuickJS JavaScript engine with support for Promise, Modules, Async/await"
homepage = "https://github.com/HiRoFa/quickjs_es_runtime"
keywords = ["quickjs", "javascript", "runtime", "async", "engine"]
repository = "https://github.com/HiRoFa/quickjs_es_runtime"
license = "MIT"
documentation = "https://hirofa.github.io/quickjs_es_runtime/quickjs_runtime/index.html"
readme = "README.md"
categories = ["development-tools"]

[features]
default = ["console", "setimmediate", "setinterval", "settimeout"]
tokio_full = ["tokio/full"]
console = []
settimeout = []
setinterval = []
setimmediate = []

[dependencies]
#hirofa_utils = "0.6"
#hirofa_utils = {path="../utils"}
#hirofa_utils = {git="https://github.com/SreeniIO/utils.git"}
hirofa_utils = {git="https://github.com/HiRoFa/utils"}
backtrace = "0.3.67"
libquickjs-sys = "0.10.0"
lazy_static = "1.4.0"
log = "0.4"
simple-logging = "2.0"
num_cpus = "1"
rand = "0.8"
thread-id = "4"
futures = "0.3"
tokio = {version = "1", features = ["rt-multi-thread", "rt", "bytes", "fs", "io-std", "io-util", "libc", "macros", "tracing", "time", "tokio-macros", "test-util", "sync", "parking_lot", "mio", "net", "num_cpus"]}
serde_json = "1.0"
serde = {version="1.0", features=["derive"]}
string_cache = "0.8"

[dev-dependencies]
#green_copper_runtime =  { git = 'https://github.com/HiRoFa/GreenCopperRuntime', branch="main", features = ["console"]}
serde = "1"
serde_json = "1"

[dev-dependencies.cargo-husky]
version = "1.5.0"
default-features = false # Disable features which are enabled by default


# features = ["precommit-hook", "run-cargo-test", "run-cargo-clippy"]
